html,
body,
div,
p,
button {
  margin: 0;
  padding: 0;
}

.body {
  background-color: white;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lexend Deca", sans-serif;
  color: white;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 44px;
}

.flex-section {
  width: 900px;
  display: flex;
}

.content {
  padding: 40px 42px 40px 40px;
  width: 33.33%;
}

.content p {
  line-height: 30px;
  font-weight: 300;
  opacity: 0.7;
}

.content button {
  border-radius: 25px;
  width: 150px;
  outline: none;
  height: 50px;
  font-family: "Lexend Deca", sans-serif;
  margin-top: 40px;
  background-color: white;
  border: none;
}

.one {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}

.one button {
  color: hsl(31, 77%, 52%);
}

.two {
  background-color: hsl(184, 100%, 22%);
}

.two button {
  color: hsl(184, 100%, 22%);
}

.three {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}

.three button {
  color: hsl(179, 100%, 13%);
}

button:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

@media screen and (max-width: 767px) {
  .flex-section {
    width: 90%;
    flex-direction: column;
    margin: 100px 0;
  }

  .content {
    width: 100%;
    padding: 40px 60px 40px 50px;
    max-width: fit-content;
  }

  .one {
    border-radius: 10px 10px 0 0;
  }

  .three {
    border-radius: 0 0 10px 10px;
  }
}